.component.container {
	color: #78ffd4;
	text-align: left;
}

.button {
	text-align: left;
	height: 1px;
	font-size: 0px;
}

.button.focus {
	height: 1px;
}

#titleLabel {
	display: block;
	text-align: left;
	padding-left: 15px;
	font-family: sans-serif;
}

#titleLabel {
	font-size: 32px;
}

#dalek {
	float: right;
	width: 260px;
	height: 720px;
	padding-right: 150px;
}
